<!DOCTYPE html  >
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8" />
    <title>Position</title>
</head>
<body>
    <H1> Positions List</H1>

<table>
    <tr>
        <th>ID</th>
        <th>name</th>
        <!--<th>Last Name</th>-->
    </tr>
    <tr th:each="position:${positions}">
        <td th:text="${position.id}">123</td>
        <td th:text="${position.getName()}">Jhon</td>
        <!--<td th:text="${employee.lastName}">Doe</td>-->
        <!--<td>-->
            <!--<table>-->
                <!--<tr th:each="contract:${employee.contracts}">-->
                    <!--<td th:text="${contract.id}">123</td>-->
                    <!--<td th:text="${contract.initDate}">Jhon</td>-->
                <!--</tr>-->
             <!--</table>-->
             <!--</td>-->
</tr>
</table>

</body>
</html>